.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 100em 484.8em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.about_bg_left:before {
      background-position: 0em 0em;
      width: 88.75921363805813em;
      height: 100em;
  }




  .icon.about_bg_right:before {
      background-position: 0em -100em;
      width: 89.14291881273601em;
      height: 100em;
  }




  .icon.about_header:before {
      background-position: 0em -200em;
      width: 49.8161em;
      height: 17.544em;
  }




  .icon.arrow_down:before {
      background-position: 0em -217.6em;
      width: 2.518em;
      height: 1.6164em;
  }




  .icon.bg:before {
      background-position: 0em -219.3em;
      width: 100em;
      height: 17.734645669291336em;
  }




  .icon.blog_header:before {
      background-position: 0em -237.1em;
      width: 30.219299999999997em;
      height: 20.8012em;
  }




  .icon.check:before {
      background-position: 0em -258em;
      width: 1.8164000000000002em;
      height: 1.3922em;
  }




  .icon.envelope:before {
      background-position: 0em -259.4em;
      width: 2.2012em;
      height: 1.7295000000000003em;
  }




  .icon.envelope2:before {
      background-position: 0em -261.2em;
      width: 2.3em;
      height: 1.6390999999999998em;
  }




  .icon.envelope_n:before {
      background-position: 0em -262.9em;
      width: 4.5em;
      height: 4.5em;
  }




  .icon.github:before {
      background-position: 0em -267.4em;
      width: 2.6em;
      height: 2.2em;
  }




  .icon.github_round:before {
      background-position: 0em -269.6em;
      width: 5em;
      height: 5em;
  }




  .icon.hamburger:before {
      background-position: 0em -274.6em;
      width: 4em;
      height: 3.5em;
  }




  .icon.in:before {
      background-position: 0em -278.1em;
      width: 2.4em;
      height: 2.2938em;
  }




  .icon.in_round:before {
      background-position: 0em -280.4em;
      width: 5em;
      height: 5em;
  }




  .icon.link:before {
      background-position: 0em -285.4em;
      width: 1.9125em;
      height: 1.9125em;
  }




  .icon.login:before {
      background-position: 0em -287.4em;
      width: 1.4137em;
      height: 1.5422em;
  }




  .icon.map_marker:before {
      background-position: 0em -289em;
      width: 1.5151em;
      height: 2.1654em;
  }




  .icon.map_n:before {
      background-position: 0em -291.2em;
      width: 4.5em;
      height: 4.5em;
  }




  .icon.password:before {
      background-position: 0em -295.7em;
      width: 1.6896999999999998em;
      height: 1.5984em;
  }




  .icon.phone:before {
      background-position: 0em -297.3em;
      width: 1.8864em;
      height: 1.8862999999999999em;
  }




  .icon.phone2:before {
      background-position: 0em -299.2em;
      width: 1.6492em;
      height: 2.0947em;
  }




  .icon.phone_n:before {
      background-position: 0em -301.3em;
      width: 4.5em;
      height: 4.5em;
  }




  .icon.portf_arrow_down:before {
      background-position: 0em -305.8em;
      width: 4.2736em;
      height: 2.7435em;
  }




  .icon.portf_arrow_up:before {
      background-position: 0em -308.6em;
      width: 4.2736em;
      height: 2.7435em;
  }




  .icon.portfolio_header:before {
      background-position: 0em -311.4em;
      width: 100em;
      height: 26.708833300014042em;
  }




  .icon.skype:before {
      background-position: 0em -338.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.skype_n:before {
      background-position: 0em -340.6em;
      width: 60em;
      height: 60em;
  }




  .icon.stars1:before {
      background-position: 0em -400.6em;
      width: 18.6861em;
      height: 11.096599999999999em;
  }




  .icon.stars2:before {
      background-position: 0em -411.7em;
      width: 17.15em;
      height: 13.25em;
  }




  .icon.stars3:before {
      background-position: 0em -425em;
      width: 10.303em;
      height: 12.403em;
  }




  .icon.telegram_logo:before {
      background-position: 0em -437.5em;
      width: 23.8892em;
      height: 23.8892em;
  }




  .icon.vk:before {
      background-position: 0em -461.4em;
      width: 3.0011em;
      height: 1.7123000000000002em;
  }




  .icon.vk_round:before {
      background-position: 0em -463.2em;
      width: 5em;
      height: 5em;
  }




  .icon.works_header:before {
      background-position: 0em -468.2em;
      width: 50.5101em;
      height: 16.5036em;
  }





